/* Breakpoints */
$bp-sm: "(min-width: 576px)"; // col-sm
$bp-md: "(min-width: 768px)"; // col-md
$bp-lg: "(min-width: 992px)"; // col-lg
$bp-xl: "(min-width: 1200px)"; // col-xl

/* Colors */
$twitch-purple: #6441A4;

$pickled-bluewood: #2C3E50;
$rose: #FF0081;
$electric-violet: #D90ADD;
$curious-blue: #2D9CDB;
$burnt-sienna: #EB5757;
$alabaster: #FCFCFC;
$wild-sand: #F4F4F4;
$big-stone: #17223B;
$cloud-burst: #263859;
$emperor: #525252;
$tundora: #414141;
$ebony-clay: #21273D;
$mirage: #1E2438;
$shark: #1c1c25;
$cinder: #12131a;
$charade: #282932;
$athens-gray: #DFE3E8;
$gull-gray: #9AA0B9;
$logan: #A6ADC9;

/* Light Mode */
$light-text: $pickled-bluewood;
$light-background: $alabaster; /* Sidebar, Masthead */
$light-background-secondary: $wild-sand; /* View Background */
$light-border: $athens-gray;
$light-input: $alabaster;
$light-shadow: 0 5px 10px rgba($gull-gray, 0.05), 0 15px 40px rgba($logan, 0.2);

/* Dark Mode */
$dark-text: $alabaster;
$dark-background: $shark; /* Sidebar, Masthead */
$dark-background-secondary: $cinder; /* View Background */
$dark-border: $charade;
$dark-input: $charade;
$dark-shadow: 0 5px 10px rgba($shark, 0.05), 0 15px 40px rgba($mirage, 0.2);