@import "./partials/_animations";
@import "./partials/_variables";
@import "./partials/_buttons.scss";

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}