/* Breakpoints */
$bp-sm: "(min-width: 576px)"; // col-sm
$bp-md: "(min-width: 768px)"; // col-md
$bp-lg: "(min-width: 992px)"; // col-lg
$bp-xl: "(min-width: 1200px)"; // col-xl

/* Colors */
$pickled-bluewood: #2C3E50;
$rose: #FF0081;
$electric-violet: #D90ADD;
$curious-blue: #2D9CDB;
$burnt-sienna: #EB5757;
$alabaster: #FCFCFC;
$wild-sand: #F4F4F4;
$big-stone: #17223B;
$cloud-burst: #263859;
$emperor: #525252;
$tundora: #414141;
$ebony-clay: #21273D;
$mirage: #1E2438;
$shark: #1c1c25;
$cinder: #12131a;
$charade: #282932;
$athens-gray: #DFE3E8;
$gull-gray: #9AA0B9;
$logan: #A6ADC9;